@import "./styles/mixins/colors.scss";
@import "./styles/mixins/fonts.scss";
@import "./styles/mixins/padding.scss";

.container {
    @include Padding; //Mixin
    padding-top: 34px; 
    padding-bottom: 34px;
    width: 100%;
    background-color: $purple-color; //Variável
    border-bottom: 0.5px solid $grey-color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
}

.action{
    justify-content: end;
}

.menu{
    a+a{
        margin-left: 38.9;
    }
    color: white;
    font-family: $fonte-padrao;
}