@import "./styles/mixins/colors.scss";
@import "./styles/mixins/fonts.scss";

.button {
    padding: 15px 50px;
    border-radius: 5px;
    font-size: 16px;
    font-family: $fonte-padrao;
    font-weight: bold;
    border: none;


    &.primary {
        background-color: $green-color;
        color: $white-color;
    }

    &.secundary {
        background-color: $white-color;
        color: $purple-color;
    }
}